.product-detail-container {
    max-width: 750px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
    color: #333;
  }
  .back-to-home-button {
    margin-bottom: 1.5rem; 
    font-size: 0.95rem;
    color: black;
    background-color: transparent; 
    border: none;
    cursor: pointer;
  }
  

  .product-name {
    font-size: 2.25rem;
    color: #2c3e50;
    font-weight: 600;
    text-align: left;
  }
  
  .product-image {
    display: block;
    max-height: 450px;
    margin: 0 auto 1.5rem auto;
    border-radius: 8px;
  }
  
  .product-price {
    font-size: 1.75rem;
    color: #007bff;
    margin-bottom: 1rem;
    font-weight: 500;
  }
  
  .product-price strong {
    color: #495057;
    font-weight: 600;
    margin-right: 0.5em;
  }
  
  .product-description {
    font-size: 1rem;
    color: #5a6268;
    margin-bottom: 0;
  }
  
  .product-description strong {
    display: block;
    margin-bottom: 0.35rem;
    color: #343a40;
    font-weight: 600;
  }
  